/* RANGE SLIDER STYLES */
.range-slider { color: #BABCBE; width: 280px; margin: -10px auto 40px; }
.input-range { vertical-align: bottom; }
.range-value { font-size: 52px; display: block; text-align: center;}

/* CHROME */
input[type=range]{
	 -webkit-appearance: none;
	margin: 0;
	border: 0 none;
	padding: 0;
}
input[type=range]::-webkit-slider-runnable-track {
	 width: 280px;
	 height: 5px;
	 background: #BABCBE;
	 border: none;
	 border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
	 -webkit-appearance: none;
	 border: none;
	 height: 20px;
	 width: 20px;
	 border-radius: 50%;
	 background: #ffc63f;
	 margin-top: -4px;
}
input[type=range]:focus {
	 outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	 background: #BABCBE;
}

/* FIREFOX */
input[type=range]{
	 /* fix for FF unable to apply focus style bug  */
	 border: 0 solid white; 

	 /*required for proper track sizing in FF*/
	 width: 280px;
}
input[type=range]::-moz-range-track {
	 width: 280px;
	 height: 8px;
	 background: #BABCBE;
	 border: none;
	 border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
	 border: none;
	 height: 30px;
	 width: 30px;
	 border-radius: 50%;
	 background: #ffc63f;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
	 outline: 1px solid white;
	 outline-offset: -1px;
}
input[type=range]:focus::-moz-range-track {
	 background: #BABCBE;
}

/* IE10 */
input[type=range]::-ms-track {
	 width: 280px;
	 height: 5px;

	 /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
	 background: transparent;

	 /*leave room for the larger thumb to overflow with a transparent border */
	 border-color: transparent;
	 border-width: 6px 0;

	 /*remove default tick marks*/
	 color: transparent;
}
input[type=range]::-ms-fill-lower {
	 background: #777;
	 border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
	 background: #ddd;
	 border-radius: 10px;
}
input[type=range]::-ms-thumb {
	 border: none;
	 height: 20px;
	 width: 20px;
	 border-radius: 50%;
	 background: #ffc63f;
}
input[type=range]:focus::-ms-fill-lower {
	 background: #888;
}
input[type=range]:focus::-ms-fill-upper {
	 background: #ccc;
}

/* END RANGE SLIDER STYLES */

.retire {
	display: none;
}

